In [1]:
#IMPORT LIBRARIES NECESSARY
from IPython.display import display_html
from IPython.display import Image 
from IPython.core.display import HTML
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import urllib.request
from bs4 import BeautifulSoup
import requests
from selenium import webdriver

import json

from geopy.geocoders import Nominatim
import geocoder
import sys

import folium

import requests
import random
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.datasets.samples_generator import make_blobs

print('Libraries imported.')

Libraries imported.

In [2]:
df = pd.read_csv('Data-Collisions.csv', low_memory=False)

In [3]:
print("Data frame shape:", df.shape, '\n')

print("Data types:\n\n",df.dtypes, '\n')

print("Amounts:\n", df['SPEEDING'].value_counts())

Data frame shape: (194673, 38)

Data types:

 SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

Amounts:
 Y    9333
Name: SPEEDING, dtype: int64

In [4]:
df.shape

(194673, 38)

In [5]:
df_cond = df[["OBJECTID", "LOCATION", "INCDTTM", "WEATHER", "ROADCOND", "LIGHTCOND", "ST_COLCODE", "SPEEDING", "SEVERITYDESC", "SEVERITYCODE.1"]]

In [6]:
df_cond.head()

,OBJECTID,LOCATION,INCDTTM,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,SPEEDING,SEVERITYDESC,SEVERITYCODE.1
0,1,5TH AVE NE AND NE 103RD ST,3/27/2013 2:54:00 PM,Overcast,Wet,Daylight,10,NaN,Injury Collision,2
1,2,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,12/20/2006 6:55:00 PM,Raining,Wet,Dark - Street Lights On,11,NaN,Property Damage Only Collision,1
2,3,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,11/18/2004 10:20:00 AM,Overcast,Dry,Daylight,32,NaN,Property Damage Only Collision,1
3,4,2ND AVE BETWEEN MARION ST AND MADISON ST,3/29/2013 9:26:00 AM,Clear,Dry,Daylight,23,NaN,Property Damage Only Collision,1
4,5,SWIFT AVE S AND SWIFT AV OFF RP,1/28/2004 8:04:00 AM,Raining,Wet,Daylight,10,NaN,Injury Collision,2

In [7]:
df_cond.rename(columns={df_cond.columns[1]:"Adress"}, inplace=True)
df_cond.rename(columns={df_cond.columns[2]:"Latitude"}, inplace=True)
df_cond.rename(columns={df_cond.columns[3]:"Longitude"}, inplace=True)

C:\Users\Martha\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [8]:
df_cond['SPEEDING'].isna().value_counts()

True     185340
False      9333
Name: SPEEDING, dtype: int64

In [ ]:
df_cond.dropna()
df_cond.head()

In [ ]:
df_cond['SPEEDING'].isna().value_counts()