In [1]:
#IMPORT LIBRARIES NECESSARY
from IPython.display import display_html
from IPython.display import Image 
from IPython.core.display import HTML
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import urllib.request
from bs4 import BeautifulSoup
import requests
from selenium import webdriver

import json

from geopy.geocoders import Nominatim
import geocoder
import sys

import folium

import requests
import random
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.datasets.samples_generator import make_blobs
import credentials as cred

print('Libraries imported.')

Libraries imported.

In [8]:
df = pd.read_csv('Data-Collisions.csv')

In [27]:
df["SEVERITYCODE"].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [28]:
df.shape

(194673, 38)

In [11]:
df_cond = df[["OBJECTID", "LOCATION", "Y", "X", "INCDTTM", "WEATHER", "ROADCOND", "LIGHTCOND", "ST_COLCODE", "SPEEDING", "SEVERITYDESC", "SEVERITYCODE.1"]]

In [31]:
df_cond.head()

,OBJECTID,Adress,Latitude,Longitude,INCDTTM,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,SPEEDING,SEVERITYDESC,SEVERITYCODE.1
0,1,5TH AVE NE AND NE 103RD ST,47.703140,-122.323148,3/27/2013 2:54:00 PM,Overcast,Wet,Daylight,10,NaN,Injury Collision,2
1,2,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,47.647172,-122.347294,12/20/2006 6:55:00 PM,Raining,Wet,Dark - Street Lights On,11,NaN,Property Damage Only Collision,1
2,3,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,47.607871,-122.334540,11/18/2004 10:20:00 AM,Overcast,Dry,Daylight,32,NaN,Property Damage Only Collision,1
3,4,2ND AVE BETWEEN MARION ST AND MADISON ST,47.604803,-122.334803,3/29/2013 9:26:00 AM,Clear,Dry,Daylight,23,NaN,Property Damage Only Collision,1
4,5,SWIFT AVE S AND SWIFT AV OFF RP,47.545739,-122.306426,1/28/2004 8:04:00 AM,Raining,Wet,Daylight,10,NaN,Injury Collision,2

In [13]:
df_cond.rename(columns={df_cond.columns[1]:"Adress"}, inplace=True)
df_cond.rename(columns={df_cond.columns[2]:"Latitude"}, inplace=True)
df_cond.rename(columns={df_cond.columns[3]:"Longitude"}, inplace=True)

In [15]:
df_cond['SPEEDING'].isna().value_counts()

True     185340
False      9333
Name: SPEEDING, dtype: int64

In [30]:
df_cond.dropna()
df_cond.head()

,OBJECTID,Adress,Latitude,Longitude,INCDTTM,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,SPEEDING,SEVERITYDESC,SEVERITYCODE.1
0,1,5TH AVE NE AND NE 103RD ST,47.703140,-122.323148,3/27/2013 2:54:00 PM,Overcast,Wet,Daylight,10,NaN,Injury Collision,2
1,2,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,47.647172,-122.347294,12/20/2006 6:55:00 PM,Raining,Wet,Dark - Street Lights On,11,NaN,Property Damage Only Collision,1
2,3,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,47.607871,-122.334540,11/18/2004 10:20:00 AM,Overcast,Dry,Daylight,32,NaN,Property Damage Only Collision,1
3,4,2ND AVE BETWEEN MARION ST AND MADISON ST,47.604803,-122.334803,3/29/2013 9:26:00 AM,Clear,Dry,Daylight,23,NaN,Property Damage Only Collision,1
4,5,SWIFT AVE S AND SWIFT AV OFF RP,47.545739,-122.306426,1/28/2004 8:04:00 AM,Raining,Wet,Daylight,10,NaN,Injury Collision,2

In [29]:
df_cond['SPEEDING'].isna().value_counts()

True     185340
False      9333
Name: SPEEDING, dtype: int64